#root {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.App {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.carousel {
    width: 80%; 
    max-width: 600px;
    margin: 20px auto;
    overflow: hidden;
    position: relative;
    border-radius: 10px;
    background-color: #0c20d3;
    padding: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.carousel-image {
    width: 100%;
    height: 300px;
    object-fit: cover; 
    border-radius: 8px;
    transition: transform 0.5s ease;
}

.carousel-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
}


.carousel-paused-button,
.carousel-handle-button {
    background-color: #f04;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
    transition: background-color 0.3s ease, transform 0.2s ease;
    margin: 0 10px;
}


.carousel-handle-button {
    background-color: #000;
}

@media (max-width: 768px) {
    .carousel {
        width: 90%;
    }

    .carousel-image {
        height: 250px; /* Adjust image height for smaller screens */
    }

    .carousel-paused-button,
    .carousel-handle-button {
        padding: 8px 16px;
        font-size: 13px;
    }
}

@media (max-width: 480px) {
    .carousel {
        width: 100%;
    }

    .carousel-image {
        height: 200px;
    }

    .button-container {
        flex-direction: column;
    }

    .carousel-paused-button,
    .carousel-handle-button {
        width: 100%;
        margin: 10px 0;
    }
}



